@media (max-width:768px){ /*mobile*/
    .navbar {
        gap: 140px;
    }
    body.no-scroll {
        overflow: hidden;
    }
    .hamburger {
        display: block;
        z-index: 8;
    }
    .headercoffe {
        z-index:8;
    }
    .nav-menu {
        justify-content: center;
        background-image: url(/assets/bibc.svg),url(/assets/burgerBackground.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover,auto;
        width: 100%;
        height: 577px;
        position: fixed;
        left: -100%;
        top: 0px;
        gap:0;
        flex-direction: column;
        overflow: hidden;
        z-index: 7;
    }
    .nav-item {
       margin-top: -120px;
       overflow: hidden;
    }
    .nav-menu.active {
        overflow: hidden;
        left:0;
    }
    .nav-link {
        color: #333D4B;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
    .nav-link:hover {
        color: rgb(0, 0, 0);
    }
    .hdc23 {
        background-image: url(/cthirdPage/assets/mesameCOffewhearheader.svg);
        background-repeat: no-repeat;
        width: 327px;
        height: 400px;
        display: grid;
        place-items: center;
    }
    .hdc2h13 {
        margin-top: 0px;
        margin-left: 0px;
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces ;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        z-index: 0;
    }
    .hdc2h23 {
        margin-left: 0px;
        margin-top: -200px;
        width: 279px;
        color: #FEFCF7;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        opacity: 0.8;
        z-index: 0;
    }
    .HowItWorksDiv2 {
        width: 100%;
        height: 1028px;
        border-radius: 10px;
        background-color: #333D4B;
        display: grid;
        place-items: center;
        grid-template-areas: 'six'
        'one'
        'two'
        'three'
        'four'
        'five';
        margin-top: 145px;
    }
    .HIW2 {
        grid-area: six;
        width: 327px;
        color: #83888F;
        text-align: center;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-top: -120px;
        margin-left: 0px;
    }
    .circleandLine2 {
        grid-area: two;
        display: grid;
        place-items: center;
        margin-left: 0px;
        margin-top: 0px;
    }
    .circle12 {
        display: none;
    }
    .circle22 {
        display: none;
    }
    .circle32 {
        display: none;
    }
    .line2 {
        display: none;
        margin-left: 0px;
        margin-top: 0px;
    }
    .zeroOne2 {
        grid-area: one;
        margin-top: 80px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .ertiH12 {
        color: #FDD6BA;
        text-align: center;
        font-family: Fraunces;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .ertiH22 {
        width: 327px;
        color: #FFF;
        text-align: center;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-left: 0px;
        margin-top: 0px;
    }
    .ertiH32 {
        width: 327px;
        color: #FFF;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .zeroTwo2 {
        grid-area: three;
        margin-top: 50px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
    }
    .oriH12 {
        color: #FDD6BA;
        text-align: center;
        font-family: Fraunces ;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .oriH22 {
        width: 327px;
        color: #FFF;
        text-align: center;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .oriH32 {
        width: 327px;
        color: #FFF;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .zeroThree2 {
        grid-area: four;
        margin-top: 50px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
    }
    .samiH12 {
        color: #FDD6BA;
        text-align: center;
        font-family: Fraunces ;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; 
        margin-left: 0px;
        margin-top: 0px;
    }
    .samiH22 {
        width: 327px;
        color: #FFF;
        text-align: center;
        font-family: Fraunces;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .samiH32 {
        width: 327px;
        color: #FFF;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .BB9 {
        margin-top: 114px;
        width: 328px;
        height: 338px;
        border-radius: 10px;
        background: #2C343E;
    }
    .BB9h1 {
        width: 172px;
        color: #FFF;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
        text-transform: uppercase;
        opacity: 0.5037;
        margin-top: 37px;
        margin-left:25px ;
    }
    .BB9h2 {
        width: 279px;
        color: #FFF;
        font-family: Fraunces 9pt;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px; 
        margin-top: 10px;
        margin-left:25px ;
        display: grid;
        place-items: center;
    }
    footer {
        display: grid;
        place-items: center;
        grid-template-areas: 'one one one'
        'two two two'
        'thre thre thre'
        'four four four'
        'five five five';
        width: 327px;
        height: 346px;
        flex-shrink: 0;
        background: #2C343E;
        margin-top: 120px;
        margin-bottom: 70px;
        margin-left: 0px;
    }
    .footerimg {
        grid-area: one;
        background-image: url(/assets/footerCoffeimg.svg);
        background-repeat: no-repeat;
        width: 217.846px;
        height: 24px;
        margin-top: -40px;
        margin-left: 40px;
    }
    .footerh1 {
        grid-area: two;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: -150px;
        margin-top: 70px;
    }
    .footerh1:hover {
        color: rgb(0, 0, 0);
    }
    .footerh2 {
        grid-area: thre;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        margin-top: 70px;
        cursor: pointer;
        margin-top: 135px;
        margin-left: -185px;
    }
    .footerh2:hover {
        color: rgb(0, 0, 0);
    }
    .footerh3 {
        grid-area: four;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px; 
        letter-spacing: 0.923px;
        text-transform: uppercase;
        margin-top: 0px;
        cursor: pointer;
        margin-left: 50px;
    }
    .footerh3:hover {
        color: rgb(0, 0, 0);
    }
    .socials {
        grid-area: five;
        display: grid;
        place-items: center;
        grid-template-areas: 'fb twit ig';
        column-gap: 20px;
        margin-bottom: 50px;
    }
    #fb {
        grid-area: fb;
        font-size: 20px;
        color: white;
        cursor: pointer;
        margin-left: 0px;
        margin-top: 0px;
    }
    #twit {
        font-size: 20px;
        color: white;
        cursor: pointer;
        grid-area: twit;
    }
    #ig {
        cursor: pointer;
        font-size: 20px;
        color: white;
        grid-area: ig;
    }
    #fb:hover{
        color: rgb(0, 0, 0);
    }
    #twit:hover {
        color: rgb(0, 0, 0);
    }
    #ig:hover {
        color: rgb(0, 0, 0);
    }
}