@media (max-width:1440px){ /*tableti*/
    .navbar {
        gap: 230px;
    }
    .hdc{
        background-image: url(/assets/p-1/tab.svg);
        width: 689px;
        height: 500px;
    }
    .nav-link:hover {
        color: rgb(0, 0, 0);
    }
    .hdc23 {
        background-image: url(/cthirdPage/assets/mesameCOffewhearheadertab.svg);
        background-repeat: no-repeat;
        width: 689px;
        height: 400px;
        display: grid;
        place-items: center;
    }
    .hdc2h13 {
        margin-top: 0px;
        margin-left: -320px;
        color: #FEFCF7;
        font-family: Fraunces ;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
    }
    .hdc2h23 {
        margin-left: -200px;
        margin-top: -200px;
        width: 398px;
        color: #FEFCF7;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.8;
    }
    .HowItWorksDiv2 {
        width: 768px;
        height: 640px;
        border-radius: 10px;
        background-color: #333D4B;
        margin-top: 130px;
        margin-left: 0px;
        display: grid;
        place-items: center;
        grid-template-areas: 'six six six'
        'two two two'
        'one three four'
        'five five five';
        column-gap: 20px;
    }
    .HIW2 {
        margin-top: -150px;
        grid-area: six;
        width: 327px;
        color: #83888F;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: -370px;
    }
    .circleandLine2 {
        grid-area: two;
        display: grid;
        margin-left: -200px;
        margin-top: 0px;
    }
    .circle12 {
        display: none;
        
    }
    .circle22 {
        display: none;
    }
    .circle32 {
        display: none;
    }
    .line2 {
        display: block;
        background-image: url(/assets/p-1/lineandcircle.svg);
        background-repeat: no-repeat;
        width: 497px;
        height: 31px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .zeroOne2 {
        grid-area: one;
        margin-top: 0px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 30px;
    }
    .ertiH12 {
        color: #FDD6BA;
        margin-left: -150px;
        font-family: Fraunces;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
    }
    .ertiH22 {
        width: 183px;
        color: #FFF;
        margin-left: -50px;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
    .ertiH32 {
        width: 223px;
        color: #FFF;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
    .zeroTwo2 {
        grid-area: three;
        margin-top: 0px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
    }
    .oriH12 {
        margin-left: -150px;
        color: #FDD6BA;
        font-family: Fraunces ;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; 
    }
    .oriH22 {
        width: 223px;
        color: #FFF;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
    .oriH32 {
        width: 223px;
        color: #FFF;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
    .zeroThree2 {
        grid-area: four;
        margin-top: -25px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
    }
    .samiH12 {
        margin-left: -150px;
        color: #FDD6BA;
        font-family: Fraunces ;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; 
    }
    .samiH22 {
        width: 183px;
        color: #FFF;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: -50px;
    }
    .samiH32 {
        width: 223px;
        color: #FFF;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
    .sarchevi {
        display: none;
    }
    .BB9 {
        margin-top: 114px;
        width: 689px;
        height: 208px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #2C343E;
    }
    .BB9h1 {
        width: 172px;
        color: #FFF;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
        text-transform: uppercase;
        margin-left:44px ;
        margin-top: 31px;
    }
    .BB9h2 {
        margin-left:44px ;
        margin-top: 10px;
        width: 602px;
        color: #FFF;
        font-family: Fraunces 9pt;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px; /* 166.667% */
    }
    footer {
        display: grid;
        place-items: center;
        grid-template-areas: 'one one one'
        'two thre four'
        'five five five';
        width: 688px;
        height: 270px;
        flex-shrink: 0;
        background: #2C343E;
        margin-top: 120px;
        margin-bottom: 70px;
        margin-left: 0px;
    }
    .footerimg {
        grid-area: one;
        background-image: url(/assets/footerCoffeimg.svg);
        background-repeat: no-repeat;
        width: 217.846px;
        height: 24px;
        margin-top: -20px;
        margin-left: 100px;
    }
    .footerh1 {
        grid-area: two;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: -400px;
        margin-top: 130px;
    }
    .footerh1:hover {
        color: rgb(0, 0, 0);
    }
    .footerh2 {
        grid-area: thre;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: -380px;
        margin-top: 130px;
    }
    .footerh2:hover {
        color: rgb(0, 0, 0);
    }
    .footerh3 {
        grid-area: four;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px; 
        letter-spacing: 0.923px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 350px;
        margin-top: -34px;
    }
    .footerh3:hover {
        color: rgb(0, 0, 0);
    }
    .socials {
        grid-area: five;
        display: grid;
        place-items: center;
        grid-template-areas: 'fb twit ig';
        column-gap: 30px;
        margin-bottom: 50px;
    }
    #fb {
        grid-area: fb;
        font-size: 20px;
        color: white;
        cursor: pointer;
        margin-left: 0px;
        margin-top: 0px;
    }
    #twit {
        font-size: 20px;
        color: white;
        cursor: pointer;
        grid-area: twit;
    }
    #ig {
        cursor: pointer;
        font-size: 20px;
        color: white;
        grid-area: ig;
    }
    #fb:hover{
        color: rgb(117, 117, 205);
    }
    #twit:hover {
        color: aqua;
    }
    #ig:hover {
        color: purple;
    }
}