@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap');
* {  /*desktopi*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', 'Fraunces';
}
body {
    background: #FEFCF7;
}
.container {
    display: grid;
    place-items: center;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav-link:hover {
    color: rgb(0, 0, 0);
}
.hdcbut:hover {
    background: #66D2CF;
}
.navbar {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 800px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.nav-link {
    color: #83888F;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: 0.923px;
    text-transform: uppercase;
}
.hdc {
    background-image: url(/assets/p-1/desk.svg);
    width: 1280px;
    height: 600px;
    display: grid;
    place-items: center;
}
.hdch1 {
    color: #FEFCF7;
    font-family: Fraunces;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; 
    width: 500px;
    margin-left: -600px;
    margin-top: 100px;
}
.hdch2 {
    width: 398px;
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-left: -700px;
    margin-top: -90px;
}
.hdcbut {
    width: 217px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #0E8784;
    margin-left: -880px;
    margin-top: -100px;
    outline: none;
    border: none;
    cursor: pointer;
}
.hdcspan {
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
}
.packetBox {
    display: grid;
    place-items: center;
}
.packetBox {
    display: grid;
    place-items: center;
    margin-top: 120px;
    grid-template-areas:'erti erti erti erti erti'
    'ori sami otxi xuti xuti';
    row-gap: 50px;
    margin-left: 0px;
}
.pbh1 {
    grid-area: erti;
    opacity: 0.5032;
    width: 689px;
    height: 118px;
    color: #83888F;
    text-align: center;
    font-family: Fraunces ;
    font-size: 110px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; 
    z-index: 0;
}
.granEspreso {
    z-index: 1;
    margin-top: -120px;
    grid-area: ori;
    display: grid;
    place-items: center;
    grid-template-areas:'exvsi'
                        'ati' 
                        'tertmeti';
}
.Planto {
    grid-area: sami;
    display: grid;
    place-items: center;
    grid-template-areas:'shvidi' 
                        'tormeti'
                        ' cameti';
}
.Piccollo {
    grid-area: otxi;
    display: grid;
    place-items: center;
    grid-template-areas:'rva '
                        'totxmeti'
                        'txutmeti';
}
.Danche {
    margin-top: -120px;
    grid-area: xuti;
    display: grid;
    place-items: center;
    grid-template-areas:'cxra'
                        'teqvsmeti' 
                        'chvidmeti';
}
.beg1 {
    grid-area: exvsi;
    background-image: url(/assets/p-1/packetsrc/grandespresotab.svg);
    background-repeat: no-repeat;
    width: 256px;
    height: 193px;
}
.beg2 {
    grid-area:shvidi ;
    background-image: url(/assets/p-1/packetsrc/plantotap.svg);
    background-repeat: no-repeat;
    width: 256px;
    height: 193px;
}
.beg3 {
    grid-area: rva;
    background-image: url(/assets/p-1/packetsrc/piccollotap.svg);
    background-repeat: no-repeat;
    width: 256px;
    height: 193px;
}
.beg4 {
    grid-area: cxra;
    background-image: url(/assets/p-1/packetsrc/danchetab.svg);
    background-repeat: no-repeat;
    width: 256px;
    height: 193px;
}
.espH1 {
    grid-area: ati;
    color: #333D4B;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    margin-left: 0px;
}
.espH2 {
    grid-area: tertmeti;
    width: 282px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
}
.plantoh1 {
    grid-area: tormeti;
    color: #333D4B;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    margin-left: 0px;
}
.plantoh2 {
    grid-area: cameti;
    width: 282px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center; 
    margin-top: 0px;
    margin-left: 0px;
}
.picoloh1 {
    grid-area: totxmeti;
    color: #333D4B;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    margin-left: 0px;
}
.picoloh2 {
    grid-area:txutmeti ;
    width: 282px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
}
.dancheh1 {
    grid-area:teqvsmeti ;
    color: #333D4B;
    font-family: Fraunces ;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    margin-left: 0px;
    margin-top: 0px;
}
.dancheh2 {
    grid-area: chvidmeti;
    width: 282px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
}
.BoxinsideBox {
    display: grid;
    place-items: center;
    margin-top: 120px;
    grid-template-areas:'pirveli pirveli pirveli'
                        'meore mesame meotxe';
                        row-gap: 24px;
}
.blackbox {
    grid-area: pirveli;
    display: grid;
    place-items: center;
    border-radius: 10px;
    background: #2C343E;
    width: 1280px;
    height: 577px;
    flex-shrink: 0;
}
.BBh1 {
    width: 540px;
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    margin-top: -50px
}
.BBh2 {
    margin-top: -400px;
    width: 540px;
    color: #FEFCF7;
    text-align: center;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.firstGreenbox {
    margin-top: -250px;
    grid-area: meore;
    display: grid;
    place-items: center;
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #0E8784;
}
.seconGreenbox {
    margin-top: -250px;
    grid-area: mesame;
    display: grid;
    place-items: center;
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #0E8784;
}
.thirdGreenbox {
    position: relative;
    margin-top: -250px;
    grid-area: meotxe;
    display: grid;
    place-items: center;
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #0E8784;
}
.bean {
   margin-top: 40px;
}
.gift {
    margin-top: 40px;
}
.truck {
    margin-top: 40px;
}
.BIBsaerto1 {
    margin-top: -70px;
    width: 255px;
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}
.BIBsaerto2 {
    margin-top: -80px;
    width: 255px;
    color: #FEFCF7;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.HowItWorksDiv {
    margin-top: 250px;
    margin-left: -500px;
    display: grid;
    place-items: center;
    grid-template-areas: 'six six six'
    'two two two'
    'one three four'
    'five five five';
    column-gap: 160px;
}
.HIW {
    margin-top: -150px;
    grid-area: six;
    width: 327px;
    color: #83888F;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-left: -370px;
}
.circleandLine {
    grid-area: two;
    display: grid;
    margin-left: 50px;
    margin-top: 0px;
}
.circle1 {
    background-image: url(/assets/p-1/burtebi.svg);
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-left: 730px;
    margin-top: -15px;
}
.circle2 {
    background-image: url(/assets/p-1/burtebi.svg);
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-left: 350px;
    margin-top: -16px;
}
.circle3 {
    background-image: url(/assets/p-1/burtebi.svg);
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-top: -16px;
}
.line {
    display: block;
    background-image: url(/assets/p-1/Linedesk.svg);
    background-repeat: no-repeat;
    width: 760px;
    height: 4px;
    margin-left: 0px;
    margin-top: 0px;
}
.zeroOne {
    grid-area: one;
    margin-top: 80px;
    display: grid;
    place-items: center;
    grid-template-areas: 'erti'
    'ori'
    'sami';
    gap: 24px;
    margin-left:280px;
}
.ertiH1 {
    color: #FDD6BA;
    margin-left: -150px;
    font-family: Fraunces;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}
.ertiH2 {
    width: 183px;
    color: #333D4B;
    margin-left: -50px;
    font-family: Fraunces ;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}
.ertiH3 {
    width: 223px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.zeroTwo {
    grid-area: three;
    margin-top: 75px;
    display: grid;
    place-items: center;
    grid-template-areas: 'erti'
    'ori'
    'sami';
    gap: 24px;
}
.oriH1 {
    margin-left: -150px;
    color: #FDD6BA;
    font-family: Fraunces ;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; 
}
.oriH2 {
    width: 223px;
    color: #333D4B;
    font-family: Fraunces ;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}
.oriH3 {
    width: 223px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.zeroThree {
    grid-area: four;
    margin-top: 50px;
    display: grid;
    place-items: center;
    grid-template-areas: 'erti'
    'ori'
    'sami';
    gap: 24px;
}
.samiH1 {
    margin-left: -150px;
    color: #FDD6BA;
    font-family: Fraunces ;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; 
}
.samiH2 {
    width: 183px;
    color: #333D4B;
    font-family: Fraunces ;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-left: -50px;
}
.samiH3 {
    width: 223px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.buttonHIW {
    margin-top: 80px;
    grid-area: five;
    display: grid;
    place-items: center;
    margin-left: -500px;
}
.buttonclass {
    width: 217px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #0E8784;
    border: none;
    cursor: pointer;
}
.buttonclass:hover{
    background: #66D2CF;
}
.spanclass {
    color: #FEFCF7;
    font-family: Fraunces;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; 
}
footer {
    display: grid;
    place-items: center;
    grid-template-areas: 'one two thre four five';
    width: 1280px;
    height: 120px;
    flex-shrink: 0;
    background: #2C343E;
    margin-top: 120px;
    margin-bottom: 70px;
    margin-left: 0px;
}
.footerimg {
    grid-area: one;
    background-image: url(/assets/footerCoffeimg.svg);
    background-repeat: no-repeat;
    width: 217.846px;
    height: 24px;
    margin-left: 0px;
}
.footerh1 {
    grid-area: two;
    color: #83888F;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 0px;
}
.footerh1:hover {
    color: rgb(0, 0, 0);
}
.footerh2 {
    grid-area: thre;
    color: #83888F;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: -133px;
}
.footerh2:hover {
    color: rgb(0, 0, 0);
}
.footerh3 {
    grid-area: four;
    color: #83888F;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: 0.923px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: -200px;
}
.footerh3:hover {
    color: rgb(0, 0, 0);
}
.socials {
    grid-area: five;
    display: grid;
    place-items: center;
    grid-template-areas: 'fb twit ig';
    column-gap: 30px;
}
#fb {
    grid-area: fb;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 0px;
}
#twit {
    font-size: 20px;
    color: white;
    cursor: pointer;
    grid-area: twit;
}
#ig {
    cursor: pointer;
    font-size: 20px;
    color: white;
    grid-area: ig;
}
#fb:hover{
    color: rgb(0, 0, 0);
}
#twit:hover {
    color: rgb(0, 0, 0);
}
#ig:hover {
    color: rgb(5, 5, 5);
}
.popup.active {
    transform: translate(-50%,-50%) scale(1);
}
.popup {
    display: grid;
    place-items: center;
    background: #FEFCF7;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 540px;
    height: 597px;
    border-radius: 8px 8px 0px 0px;
}
.popuph1div {
    width: 540px;
    height: 136px;
    border-radius: 8px 8px 0px 0px;
    background: #333D4B;
    margin-top: -23px;
}
.xclick {
    margin-left: 480px;
    margin-top: -34px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.popuph1 {
    color: #FFF;
    font-family: Fraunces ;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-left: 25px;
    margin-top: 50px;
}
.popuph2 {
    width: 428px;
    color: #83888F;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-top: 20px;
}
.popuph3 {
    width: 428px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.popupbutton {
    width: 279px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #0E8784;
    border: none;
    margin-top: 24px;
    margin-bottom: 30px;
    cursor: pointer;
}
.popupbutton:hover {
    background: #66D2CF;
}
.popupspan {
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces ;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; 
}
#blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
    z-index: 7; 
    }
#blur.active {
    opacity: 0.5;
    pointer-events: all;
}





