@media (max-width:768px){ /*mobile*/
    .navbar {
        gap: 140px;
    }
    .hamburger {
        display: block;
        z-index: 1;
    }
    .headercoffe {
        z-index: 1;
    }
    .nav-menu {
        justify-content: center;
        background-image: url(/assets/bibc.svg),url(/assets/burgerBackground.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover,auto;
        width: 100%;
        height: 577px;
        position: fixed;
        left: -100%;
        top: 0px;
        gap:0;
        flex-direction: column;
        z-index: 0;
    }
    .nav-item {
       margin-top: -120px;
    }
    .nav-menu.active {
        left:0;
    }
    .nav-link {
        color: #333D4B;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
    .nav-link:hover {
        color: rgb(0, 0, 0);
    }
    .hdc{
        background-image: url(/assets/p-1/MOb-cofferhd.svg);
        width: 327px;
        height: 500px;
        margin-top: -13px;
    }
    .hdcbut:hover {
        background: #66D2CF;
    }
    .hdch1 {
        width: 279px;
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        margin-top: 30px;
        margin-left: 0px;
    }
    .hdch2 {
        width: 279px;
        color: #FEFCF7;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-top: -85px;
        margin-left: 0px;
    }
    .hdcbut {
        width: 217px;
        height: 56px;
        border-radius: 6px;
        background: #0E8784;
        margin-top: -130px;
        margin-left: 0px;
    }
    .hdcspan {
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
    }
    .packetBox {
        display: grid;
        place-items: center;
        margin-top: 120px;
        grid-template-areas:'erti'
                            'ori'
                            'sami'
                            'otxi'
                            'xuti';
        row-gap: 50px;
        margin-left: 0px;
    }
    .pbh1 {
        grid-area: erti;
        opacity: 0.5032;
        width: 375px;
        height: 72px;
        color: #83888F;
        text-align: center;
        font-family: Fraunces ;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; 
        margin-left: 0px;
        margin-top: 0px;
    }
    .granEspreso {
        z-index: 2;
        margin-top: 0px;
        grid-area: ori;
        display: grid;
        place-items: center;
        grid-template-areas:'exvsi'
                            'ati'
                            'tertmeti';
        row-gap: 10px;
    }
    .Planto {
        margin-left: 0px;
        grid-area: sami;
        display: grid;
        place-items: center;
        grid-template-areas:'shvidi'
                            'tormeti'
                            'cameti';
        row-gap: 10px;
    }
    .Piccollo {
        margin-left: 0px;
        grid-area: otxi;
        display: grid;
        place-items: center;
        grid-template-areas:'rva'
                            'totxmeti'
                            'txutmeti';
                            row-gap: 10px;
    }
    .Danche {
        margin-left: 0px;
        grid-area: xuti;
        display: grid;
        place-items: center;
        grid-template-areas:'cxra'
                            'teqvsmeti'
                            'chvidmeti';
                            row-gap: 10px;
    }
    .beg1 {
        grid-area: exvsi;
        background-image: url(/assets/p-1/packetsrc/GranEspreso.svg);
        width: 200.29px;
        height: 151px;
    }
    .beg2 {
        grid-area:shvidi ;
        background-image: url(/assets/p-1/packetsrc/Planalto.svg);
        width: 200.29px;
        height: 151px;
    }
    .beg3 {
        grid-area: rva;
        background-image: url(/assets/p-1/packetsrc/Piccollo.svg);
        width: 200.29px;
        height: 151px;
    }
    .beg4 {
        grid-area: cxra;
        background-image: url(/assets/p-1/packetsrc/Danche.svg);
        width: 200.29px;
        height: 151px;
    }
    
    .espH1 {
        grid-area: ati;
        color: #333D4B;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-left: 0px;
    }
    .espH2 {
        grid-area: tertmeti;
        width: 282px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        text-align: center;
        margin-top: 0px;
    }
    .plantoh1 {
        grid-area: tormeti;
        color: #333D4B;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-left: 0px;
    }
    .plantoh2 {
        grid-area: cameti;
        width: 282px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-align: center; 
        margin-top: 0px;
    }
    .picoloh1 {
        grid-area: totxmeti;
        color: #333D4B;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-left: 0px;
    }
    .picoloh2 {
        grid-area:txutmeti ;
        width: 282px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        text-align: center;
        margin-top: 0px;
    }
    .dancheh1 {
        grid-area:teqvsmeti ;
        color: #333D4B;
        font-family: Fraunces ;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-left: 0px;
        margin-top: 0px;
    }
    .dancheh2 {
        grid-area: chvidmeti;
        width: 282px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        text-align: center;
        margin-top: 0px;
    }
    .BoxinsideBox {
        display: grid;
        place-items: center;
        margin-top: 120px;
        grid-template-areas:'pirveli'
                            'meore'
                            'mesame'
                            'meotxe';
                            row-gap: 24px;
    }
    .blackbox {
        grid-area: pirveli;
        display: grid;
        place-items: center;
        border-radius: 10px;
        background: #2C343E;
        width: 327px;
        height: 902px;
        flex-shrink: 0;
    }
    .BBh1 {
        width: 279px;
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px;
        margin-top: -200px;
    }
    .BBh2 {
        width: 279px;
        color: #FEFCF7;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-top: -900px;
    }
    .firstGreenbox {
        margin-top: -800px;
        grid-area: meore;
        display: grid;
        place-items: center;
        width: 279px;
        height: 382px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #0E8784;
    }
    .seconGreenbox {
        margin-top: -210px;
        grid-area: mesame;
        display: grid;
        place-items: center;
        width: 279px;
        height: 382px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #0E8784;
    }
    .thirdGreenbox {
        grid-area: meotxe;
        display: grid;
        place-items: center;
        width: 279px;
        height: 382px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #0E8784;
    }
    .bean {
        margin-top: 25px;
        margin-left: 0px;
    }
    .gift {
        margin-top: 25px;
        margin-left: 0px;
    }
    .truck {
        margin-top: 25px;
        margin-left: 0px;
    }
    .BIBsaerto1 {
        margin-top: -90px;
        margin-left: 0px;
        width: 255px;
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces 9pt;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
    .BIBsaerto2 {
        margin-top: -120px;
        margin-left: 0px;
        width: 212px;
        color: #FEFCF7;
        text-align: center;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }


    .HowItWorksDiv {
        display: grid;
        place-items: center;
        grid-template-areas: 'six'
        'one'
        'two'
        'three'
        'four'
        'five';
        margin-top: 220px;
    }
    .HIW {
        grid-area: six;
        width: 327px;
        color: #83888F;
        text-align: center;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-top: -120px;
        margin-left: 0px;
    }
    .circleandLine {
        grid-area: two;
        display: grid;
        place-items: center;
        margin-left: 0px;
        margin-top: 0px;
    }
    .circle1 {
        display: none;
    }
    .circle2 {
        display: none;
    }
    .circle3 {
        display: none;
    }
    .line {
        display: none;
        margin-left: 0px;
        margin-top: 0px;
    }
    .zeroOne {
        grid-area: one;
        margin-top: 80px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .ertiH1 {
        color: #FDD6BA;
        text-align: center;
        font-family: Fraunces;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .ertiH2 {
        width: 327px;
        color: #333D4B;
        text-align: center;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .ertiH3 {
        width: 327px;
        color: #333D4B;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .zeroTwo {
        grid-area: three;
        margin-top: 50px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
    }
    .oriH1 {
        color: #FDD6BA;
        text-align: center;
        font-family: Fraunces ;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; 
        margin-left: 0px;
        margin-top: 0px;
    }
    .oriH2 {
        width: 327px;
        color: #333D4B;
        text-align: center;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .oriH3 {
        width: 327px;
        color: #333D4B;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .zeroThree {
        grid-area: four;
        margin-top: 50px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
    }
    .samiH1 {
        color: #FDD6BA;
        text-align: center;
        font-family: Fraunces ;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; 
        margin-left: 0px;
        margin-top: 0px;
    }
    .samiH2 {
        width: 327px;
        color: #333D4B;
        text-align: center;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .samiH3 {
        width: 327px;
        color: #333D4B;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .buttonHIW {
        margin-top: 80px;
        grid-area: five;
        display: grid;
        place-items: center;
        margin-left: 0px;
    }
    .buttonclass {
        width: 217px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #0E8784;
        border: none;
        cursor: pointer;
    }
    .buttonclass:hover{
        background: #66D2CF;
    }
    .spanclass {
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px; 
    }
    footer {
        display: grid;
        place-items: center;
        grid-template-areas: 'one one one'
        'two two two'
        'thre thre thre'
        'four four four'
        'five five five';
        width: 327px;
        height: 346px;
        flex-shrink: 0;
        background: #2C343E;
        margin-top: 120px;
        margin-bottom: 70px;
        margin-left: 0px;
    }
    .footerimg {
        grid-area: one;
        background-image: url(/assets/footerCoffeimg.svg);
        background-repeat: no-repeat;
        width: 217.846px;
        height: 24px;
        margin-top: 30px;
        margin-left: 0px;
    }
    .footerh1 {
        grid-area: two;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 0px;
        margin-top: 0px;
    }
    .footerh1:hover {
        color: rgb(0, 0, 0);
    }
    .footerh2 {
        grid-area: thre;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        margin-top: -50px;
        cursor: pointer;
        margin-left: 0px;
    }
    .footerh2:hover {
        color: rgb(0, 0, 0);
    }
    .footerh3 {
        grid-area: four;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px; 
        letter-spacing: 0.923px;
        text-transform: uppercase;
        margin-top: -80px;
        cursor: pointer;
        margin-left: 0px;
    }
    .footerh3:hover {
        color: rgb(0, 0, 0);
    }
    .socials {
        grid-area: five;
        display: grid;
        place-items: center;
        grid-template-areas: 'fb twit ig';
        column-gap: 20px;
    }
    #fb {
        grid-area: fb;
        font-size: 20px;
        color: white;
        cursor: pointer;
        margin-left: 0px;
        margin-top: 0px;
    }
    #twit {
        font-size: 20px;
        color: white;
        cursor: pointer;
        grid-area: twit;
    }
    #ig {
        cursor: pointer;
        font-size: 20px;
        color: white;
        grid-area: ig;
    }
    #fb:hover{
        color: rgb(117, 117, 205);
    }
    #twit:hover {
        color: aqua;
    }
    #ig:hover {
        color: purple;
    }
    .popup.active {
        transform: translate(-50%,-50%) scale(1);
    }
    .popup {
        width: 327px;
        height: 597px;
        display: grid;
        place-items: center;
        background: #FEFCF7;
        position: fixed;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%) scale(0);
        transition: 200ms ease-in-out;
        z-index: 10;
        border-radius: 8px 8px 0px 0px;
        outline: none;
        border: none;
        margin-left: 0px;
        margin-top: 0px;
    }
    .popuph1div {
        width: 327px;
        height: 88px;
        border-radius: 8px 8px 0px 0px;
        background: #333D4B;
        margin-left: 0px;
        margin-top: -4px;
    }
    .xclick {
        margin-left: 290px;
        margin-top: -27px;
        font-size: 20px;
        cursor: pointer;
        color: white;
    }
    .popuph1 {
        color: #FFF;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 20px;
        margin-top: 27px;
    }
    .popuph2 {
        width: 279px;
        color: #83888F;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .popuph3 {
        width: 279px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .popupbutton {
        width: 279px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #0E8784;
        border: none;
        margin-top: 24px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .popupspan {
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces ;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px; 
        margin-left: 0px;
        margin-top: 0px;
    }
    #blur {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000000;
        opacity: 0;
        pointer-events: none;
        transition: 200ms ease-in-out;
        z-index: 7; 
        margin-left: 0px;
        margin-top: 0px;
        }
    #blur.active {
        opacity: 0.5;
        pointer-events: all;
        margin-left: 0px;
        margin-top: 0px;
    }
}

