@media (max-width:1440px){ /*tableti*/
    .navbar {
        gap: 230px;
    }
    .hdc{
        background-image: url(/assets/p-1/tab.svg);
        width: 689px;
        height: 500px;
    }
    .hdch1 {
        width: 350px;
        color: #FEFCF7;
        font-family: Fraunces ;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px; 
        margin-left: -250px;
        margin-top: 70px;
    }
    .hdch2 {
        width: 398px;
        color: #FEFCF7;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: -200px;
        margin-top: -80px;
    }
    .hdcbut {
        width: 217px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #0E8784;
        margin-left: -380px;
        margin-top: -100px;
    }
    .hdcspan {
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px; 
    }
    .packetBox {
        display: grid;
        place-items: center;
        margin-top: 120px;
        grid-template-areas:'erti'
                            'ori'
                            'sami'
                            'otxi'
                            'xuti';
        row-gap: 50px;
        margin-left: 0px;
    }
    .pbh1 {
        grid-area: erti;
        opacity: 0.5032;
        width: 689px;
        height: 118px;
        color: #83888F;
        text-align: center;
        font-family: Fraunces ;
        font-size: 110px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; 
        z-index: 0;
    }
    .granEspreso {
        z-index: 1;
        margin-top: -120px;
        grid-area: ori;
        display: grid;
        place-items: center;
        grid-template-areas:'exvsi ati'
                            'exvsi tertmeti';
    }
    .Planto {
        grid-area: sami;
        display: grid;
        place-items: center;
        grid-template-areas:'shvidi tormeti'
                            'shvidi cameti';
    }
    .Piccollo {
        grid-area: otxi;
        display: grid;
        place-items: center;
        grid-template-areas:'rva totxmeti'
                            'rva txutmeti';
    }
    .Danche {
        margin-top: 0px;
        grid-area: xuti;
        display: grid;
        place-items: center;
        grid-template-areas:'cxra teqvsmeti'
                            'cxra chvidmeti';
    }
    .beg1 {
        grid-area: exvsi;
        background-image: url(/assets/p-1/packetsrc/grandespresotab.svg);
        background-repeat: no-repeat;
        width: 256px;
        height: 193px;
    }
    .beg2 {
        grid-area:shvidi ;
        background-image: url(/assets/p-1/packetsrc/plantotap.svg);
        background-repeat: no-repeat;
        width: 256px;
        height: 193px;
    }
    .beg3 {
        grid-area: rva;
        background-image: url(/assets/p-1/packetsrc/piccollotap.svg);
        background-repeat: no-repeat;
        width: 256px;
        height: 193px;
    }
    .beg4 {
        grid-area: cxra;
        background-image: url(/assets/p-1/packetsrc/danchetab.svg);
        background-repeat: no-repeat;
        width: 256px;
        height: 193px;
    }
    .espH1 {
        grid-area: ati;
        color: #333D4B;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: -137px;
    }
    .espH2 {
        text-align: start;
        margin-left: 0px;
        grid-area: tertmeti;
        width: 282px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        margin-top: -70px;
    }
    .plantoh1 {
        grid-area: tormeti;
        color: #333D4B;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-left: -200px;
    }
    .plantoh2 {
        text-align: start;
        grid-area: cameti;
        width: 282px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-top: -70px;
    }
    .picoloh1 {
        grid-area: totxmeti;
        color: #333D4B;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-left: -200px;
    }
    .picoloh2 {
        text-align: start;
        grid-area:txutmeti ;
        width: 282px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        margin-top: -70px;
    }
    .dancheh1 {
        grid-area:teqvsmeti ;
        color: #333D4B;
        font-family: Fraunces ;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-left: -200px;
    }
    .dancheh2 {
        text-align: start;
        grid-area: chvidmeti;
        width: 282px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        margin-top: -70px;
    }
    .BoxinsideBox {
        display: grid;
        place-items: center;
        margin-top: 120px;
        grid-template-areas:'pirveli'
                            'meore'
                            'mesame'
                            'meotxe';
                            row-gap: 24px;
    }
    .blackbox {
        grid-area: pirveli;
        display: grid;
        place-items: center;
        border-radius: 10px;
        background: #2C343E;
        width: 688px;
        height: 573px;
        flex-shrink: 0;
    }
    .BBh1 {
        width: 540px;
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px;
        margin-top: -100px;
    }
    .BBh2 {
        margin-top: -450px;
        width: 279px;
        color: #FEFCF7;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        
    }
    .firstGreenbox {
        margin-left: 0px;
        margin-top: -400px;
        grid-area: meore;
        display: grid;
        place-items: center;
        width: 573px;
        height: 180px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #0E8784;
    }
    .seconGreenbox {
        margin-left: 0px;
        margin-top: -120px;
        grid-area: mesame;
        display: grid;
        place-items: center;
        width: 573px;
        height: 180px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #0E8784;
    }
    .thirdGreenbox {
        margin-top: -10px;
        margin-left: 0px;
        grid-area: meotxe;
        display: grid;
        place-items: center;
        width: 573px;
        height: 180px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #0E8784;
    }
    .bean {
        margin-top: 50px;
        margin-left: -400px;
    }
    .gift {
        margin-top: 50px;
        margin-left: -400px;
    }
    .truck {
        margin-top: 50px;
        margin-left: -400px;
    }
    .BIBsaerto1 {
        margin-top: -180px;
        margin-left: -20px;
        width: 255px;
        color: #FEFCF7;
        text-align: start;
        font-family: Fraunces 9pt;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
    .BIBsaerto2 {
        margin-top: -120px;
        margin-left: 70px;
        width: 344px;
        color: #FEFCF7;
        text-align: start;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }
    .HowItWorksDiv {
        margin-top: 120px;
        margin-left: 0px;
        display: grid;
        place-items: center;
        grid-template-areas: 'six six six'
        'two two two'
        'one three four'
        'five five five';
        column-gap: 20px;
    }
    .HIW {
        margin-top: -100px;
        grid-area: six;
        width: 327px;
        color: #83888F;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        
        margin-left: -370px;
    }
    .circleandLine {
        grid-area: two;
        display: grid;
        margin-left: -200px;
        margin-top: 0px;
    }
    .circle1 {
        display: none;
        
    }
    .circle2 {
        display: none;
    }
    .circle3 {
        display: none;
    }
    .line {
        display: block;
        background-image: url(/assets/p-1/lineandcircle.svg);
        background-repeat: no-repeat;
        width: 497px;
        height: 31px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .zeroOne {
        grid-area: one;
        margin-top: 80px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
    }
    .ertiH1 {
        color: #FDD6BA;
        margin-left: -150px;
        font-family: Fraunces;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
    }
    .ertiH2 {
        width: 183px;
        color: #333D4B;
        margin-left: -50px;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
    .ertiH3 {
        width: 223px;
        color: #333D4B;
       
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
    .zeroTwo {
        grid-area: three;
        margin-top: 75px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
    }
    .oriH1 {
        margin-left: -150px;
        color: #FDD6BA;
        font-family: Fraunces ;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; 
    }
    .oriH2 {
        width: 223px;
        color: #333D4B;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
    .oriH3 {
        width: 223px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
    .zeroThree {
        grid-area: four;
        margin-top: 50px;
        display: grid;
        place-items: center;
        grid-template-areas: 'erti'
        'ori'
        'sami';
        gap: 24px;
        margin-left: 0px;
    }
    .samiH1 {
        margin-left: -150px;
        color: #FDD6BA;
        font-family: Fraunces ;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; 
    }
    .samiH2 {
        width: 183px;
        color: #333D4B;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: -50px;
    }
    .samiH3 {
        width: 223px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
    .buttonHIW {
        margin-top: 80px;
        grid-area: five;
        display: grid;
        place-items: center;
        margin-left: -500px;
    }
    .buttonclass {
        width: 217px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #0E8784;
        border: none;
    }
    .spanclass {
        color: #FEFCF7;
        font-family: Fraunces;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px; 
    }
}