@media (max-width:1440px){ /*tableti*/
    .navbar {
        gap: 230px;
    }
    .hdc{
        background-image: url(/assets/p-1/tab.svg);
        width: 689px;
        height: 500px;
    }
    .nav-link:hover {
        color: rgb(0, 0, 0);
    }
    .hdc2 {
        background-image: url(/secondPage/assets/au/secondcoffe.svg);
        background-repeat: no-repeat;
        width: 689px;
        height: 400px;
        display: grid;
        place-items: center;
    }
    .hdc2h1 {
        margin-top:20px;
        margin-left: -200px;
        width: 398px;
        color: #FEFCF7;
        font-family: Fraunces ;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px;
    }
    .hdc2h2 {
        margin-top: -200px;
        margin-left: -200px;
        width: 398px;
        color: #FEFCF7;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
    }
    .boyandletters {
        margin-top: 144px;
        display: grid;
        place-items: center;
        grid-template-areas:'erti ori'
                            'erti sami';
        column-gap: 70px;
    }
    .boyimg {
        grid-area: erti;
        background-image: url(/secondPage/assets/au/boytab.svg);
        background-repeat: no-repeat;
        width: 281px;
        height: 470px;
        border-radius: 8px;
        margin-left: 20px;
    }
    .BALH1 {
        grid-area: ori;
        margin-top: 0px;
        margin-left: 0px;
        color: #333D4B;
        font-family: Fraunces;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
    }
    .BALH2 {
        margin-top: 0px;
        margin-left: 0px;
        grid-area: sami;
        width: 339px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        opacity: 0.8;
    }

    .coffewheart {
        display: grid;
        place-items: center;
        margin-top: 250px;
    }
    .imgdiv {
        background-image: url(/secondPage/assets/au/littlecoffewhearttab.svg);
        background-repeat: no-repeat;
        width: 592px;
        height: 887px;
        margin-top: -150px;
        margin-left: 20px;
        z-index: 1;
    }
    .h1h2box {
        z-index: 0;
        width: 688px;
        height: 488px;
        border-radius: 10px;
        background: #2C343E;
        display: grid;
        place-items: center;
        margin-top: -1000px;
        margin-left: 0px;
    }
    .hearth1 {
        margin-top: 150px;
        width: 399px;
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces ;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px; 
        margin-left: 0px;
    }
    .hearth2 {
        margin-top: -100px;
        margin-left: 0px;
        width: 540px;
        color: #FEFCF7;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
        opacity: 0.8;
    }
    .Countries {
        display: grid;
        place-items: center;
        grid-template-areas:'erti erti erti'
                            'ori sami otxi';
        margin-top: -100px;
     }
     .Cuheader {
         grid-area: erti;
         width: 255px;
         color: #83888F;
         text-align: center;
         font-family: Fraunces ;
         font-size: 24px;
         font-style: normal;
         font-weight: 900;
         line-height: 32px; 
         margin-top: -150px;
         margin-left: -500px;
     }
     .div4everyoneinbox {
        grid-area: ori;
        margin-left: 0px;
        margin-top: 0px;
     }
     .div4everyoneinbox2 {
        grid-area: sami;
        margin-left: 0px;
        margin-top: 0px;
     }
     .div4everyoneinbox3 {
        grid-area: otxi;
        margin-left: 0px;
        margin-top: 0px;
     }
     .countrieimg {
         background-image: url(/secondPage/assets/au/UK.svg);
         background-repeat: no-repeat;
         width: 40.842px;
         height: 49.072px;
     }
     .countrieimg2 {
         background-image: url(/secondPage/assets/au/CANADA.svg);
         background-repeat: no-repeat;
         width: 51.559px;
         height: 49.956px;
         flex-shrink: 0;
     }
     .countrieimg3 {
         background-image: url(/secondPage/assets/au/AU.svg);
         background-repeat: no-repeat;
         width: 48.968px;
         height: 43.94px;
         flex-shrink: 0;
     }
     .countiename {
         width: 223px;
         color: #333D4B;
         font-family: Fraunces;
         font-size: 28px;
         font-style: normal;
         font-weight: 900;
         line-height: 36px;
         margin-top: 20px;
     }
     .infoCT {
         width: 223px;
         color: #333D4B;
         font-family: Barlow;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 26px;
     }
     footer {
        display: grid;
        place-items: center;
        grid-template-areas: 'one one one'
        'two thre four'
        'five five five';
        width: 688px;
        height: 270px;
        flex-shrink: 0;
        background: #2C343E;
        margin-top: 120px;
        margin-bottom: 70px;
        margin-left: 0px;
    }
    .footerimg {
        grid-area: one;
        background-image: url(/assets/footerCoffeimg.svg);
        background-repeat: no-repeat;
        width: 217.846px;
        height: 24px;
        margin-top: -20px;
        margin-left: 100px;
    }
    .footerh1 {
        grid-area: two;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: -400px;
        margin-top: 130px;
    }
    .footerh1:hover {
        color: rgb(0, 0, 0);
    }
    .footerh2 {
        grid-area: thre;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: -380px;
        margin-top: 130px;
    }
    .footerh2:hover {
        color: rgb(0, 0, 0);
    }
    .footerh3 {
        grid-area: four;
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px; 
        letter-spacing: 0.923px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 350px;
        margin-top: -34px;
    }
    .footerh3:hover {
        color: rgb(0, 0, 0);
    }
    .socials {
        grid-area: five;
        display: grid;
        place-items: center;
        grid-template-areas: 'fb twit ig';
        column-gap: 30px;
        margin-bottom: 50px;
    }
    #fb {
        grid-area: fb;
        font-size: 20px;
        color: white;
        cursor: pointer;
        margin-left: 0px;
        margin-top: 0px;
    }
    #twit {
        font-size: 20px;
        color: white;
        cursor: pointer;
        grid-area: twit;
    }
    #ig {
        cursor: pointer;
        font-size: 20px;
        color: white;
        grid-area: ig;
    }
    #fb:hover{
        color: rgb(0, 0, 0);
    }
    #twit:hover {
        color: rgb(0, 0, 0);
    }
    #ig:hover {
        color: rgb(0, 0, 0);
    }
}